<ng-container *ngIf="Notes$ | async as notes">
    <section class="body">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                <h1 class="page-title">{{translations.Get('TopMenu_Notes')}}</h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <button mat-raised-button class="primary-btn" (click)="AddNote()">{{translations.Get('General_Add')}}</button>
            </div>
        </div>

        <div class="row margin-top-15 filter-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-paginator [length]="count" (paginationData)="UpdatePaginationData($event)"></app-paginator>
            </div>
        </div>

        <div class="row padding-top-15 padding-bottom-15" *ngIf="notes.length != 0">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{translations.Get('Notes_Title')}}
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                {{translations.Get('Notes_Text')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{translations.Get('Notes_Date')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{translations.Get('Notes_ModificationDate')}}
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div *ngFor="let note of notes;">
            <div class="row data-row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <p>{{note.nTitle}}</p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <p>{{note.nTxt}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <p>{{note.nDate | date: 'yyyy-MM-dd HH:mm'}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <p>{{note.nModificationDate | date: 'yyyy-MM-dd HH:mm'}}</p>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <span class="bi bi-pencil" (click)="ModifyNote(note.ngid)"></span>
                    <span class="bi bi-trash" (click)="DeleteNote(note.ngid)"></span>
                </div>
            </div>
        </div>
        <div class="row no-data-row" *ngIf="notes.length == 0">
            <p>{{translations.Get('Notes_NotFound')}}</p>
        </div>
    </section>
</ng-container>


<!-- "Notes_Bug": "Błąd",
"Notes_BugHistory": "Historia błędu",
"Notes_Bug_Data": "Data aktualizacji",
"Notes_Bug_Text": "Tekst aktualizacji",
"Notes_Bug_AddNoteTitle": "Dodaj nową notatkę do błędu",
"Notes_Bug_AddNote": "Dodaj notatkę",
"Notes_AddTitle_Error": "Przekroczyłeś liczbę znaków! Maksymalna liczba znaków to 200!",
"Notes_BugNotes_AddNote_Error": "Przekroczyłeś liczbę znaków! Maksymalna liczba znaków to 4000!" -->