<div class="container">
  <div class="title">Rejestracja</div>
  <div class="content">
    <form [formGroup]="form">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Imię i Nazwisko</span>
          <input type="text" placeholder="Imię i Nazwisko" required formControlName="fullName">
        </div>
        <div class="input-box">
          <span class="details">Nazwa użytkownika</span>
          <input type="text" placeholder="Nazwa użytkownika" required formControlName="userName">
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="text" placeholder="Email" required formControlName="email">
        </div>
        <div class="input-box">
          <span class="details">Numer telefonu</span>
          <input type="text" placeholder="Numer telefonu" required formControlName="phoneNumber">
        </div>
        <div class="input-box">
          <span class="details">Hasło</span>
          <input type="text" placeholder="Hasło" required formControlName="password">
        </div>
        <div class="input-box">
          <span class="details">Powtórz hasło</span>
          <input type="text" placeholder="Powtórz hasło" required>
        </div>
      </div>
      <div class="button">
        <button (click)="Save()">Zarejestruj się</button>
      </div>
    </form>
  </div>
</div>