<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension="woff" mimeType="application/font-woff" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Angular Routes" stopProcessing="true">
                    <match url="(^(?!.*\.[\d\w]+$).*)" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_URI}" pattern=".*\/api\/.*" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="./index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>