<ng-container *ngIf="Tasks$ | async as tasks">
    <section class="body">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                <h1 class="page-title">{{translations.Get('TopMenu_Tasks')}}</h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <button mat-raised-button class="primary-btn" (click)="AddTask()">{{translations.Get('General_Add')}}</button>
            </div>
        </div>

        <div class="row padding-top-15 filter-row">
            <ng-container *ngIf="Categories$ | async as categories">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">   
                    {{translations.Get('Tasks_Categories')}}:
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <mat-form-field>
                        <mat-select [(value)]="selectedFilterCategory" (selectionChange)="ChangeCategoryFilterValue($event)">
                            <mat-option *ngFor="let category of categories;" [value]="category['cgid']">
                                {{category['cName']}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">   
                {{translations.Get('Tasks_Status')}}:
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <mat-form-field>
                    <mat-select [(value)]="selectedFilterStatus" (selectionChange)="ChangeStatusFilterValue($event)">                   
                        <mat-option *ngFor="let status of statuses;" [value]="status['id']">
                            {{status['name']}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row margin-top-15 filter-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-paginator [length]="count" (paginationData)="UpdatePaginationData($event)"></app-paginator>
            </div>
        </div>

        <div class="row padding-top-15 padding-bottom-15" *ngIf="tasks.length != 0">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{translations.Get('Tasks_Name')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                {{translations.Get('Tasks_Date')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                {{translations.Get('Tasks_Localization')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-xs">
                {{translations.Get('Tasks_Budget')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-sm hidden-xs">
                {{translations.Get('Tasks_Status')}}
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3"></div>
        </div>
        <div *ngFor="let task of tasks;">
            <div class="row data-row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <p>{{task.tName}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <p>{{task.tTime | date: 'yyyy-MM-dd HH:mm'}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                    <p>{{task.tLocalization}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-xs">
                    <p>{{task.tBudget}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-sm hidden-xs">
                    <p>{{DisplayStatus(task.tStatus)}}</p>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
                    <span class="bi bi-pencil" (click)="ModifyTask(task.tgid)"></span>
                    <span class="bi bi-trash" (click)="DeleteTask(task.tgid)"></span>
                </div>
            </div>
        </div>
        <div class="row no-data-row" *ngIf="tasks.length == 0">
            <p>{{translations.Get('Task_NotFound')}}</p>
        </div>
    </section>
</ng-container>