<ng-container *ngIf="Tasks$ | async as tasks">
    <section class="body">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                <h1 class="page-title">{{translations.Get('TopMenu_Tasks')}}</h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <button mat-raised-button color="accent" (click)="AddTask()">{{translations.Get('General_Add')}}</button>
            </div>
        </div>
        <div class="row">
            <ng-container *ngIf="Categories$ | async as categories">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">   
                    {{translations.Get('Tasks_Categories')}}:
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <mat-form-field>
                        <mat-select [(value)]="selectedFilterCategory" (selectionChange)="ChangeCategoryFilterValue($event)">
                            <mat-option *ngFor="let category of categories;" [value]="category['cgid']">
                                {{category['cName']}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">   
                {{translations.Get('Tasks_Status')}}:
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <mat-form-field>
                    <mat-select [(value)]="selectedFilterStatus" (selectionChange)="ChangeStatusFilterValue($event)">                   
                        <mat-option *ngFor="let status of statuses;" [value]="status['id']">
                            {{status['name']}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row categories-row" *ngIf="ShowAddModal" [formGroup]="form">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-text">
                        {{translations.Get('Tasks_Name')}}:
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 row-inputs">
                        <input type="text" formControlName="tName" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-text">
                        {{translations.Get('Tasks_Date')}}:
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 row-inputs">
                        <mat-form-field class="margin-left-30">
                            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Wybierz datę i czas" formControlName="tTime">
                            <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker 
                                [showSpinners]="true" 
                                [showSeconds]="false"
                                [stepHour]="1" 
                                [stepMinute]="1" 
                                [stepSecond]="1"
                                [touchUi]="false" 
                                [enableMeridian]="false" 
                                [disableMinute]="false" 
                                [color]="'primary'">
                                <ngx-mat-datepicker-actions>
                                    <button ngxMatDatepickerCancel class="action-btn">
                                        <span class="bi bi-x"></span>
                                    </button>
                                    <button ngxMatDatepickerApply class="action-btn">
                                        <span class="bi bi-check-lg"></span>
                                    </button>
                                </ngx-mat-datepicker-actions>
                            </ngx-mat-datetime-picker>
                         </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-text">
                        {{translations.Get('Tasks_Localization')}}:
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 row-inputs">
                        <input type="text" formControlName="tLocalization" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-text">
                        {{translations.Get('Tasks_Budget')}}:
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 row-inputs">
                        <input type="number" step="1" formControlName="tBudget" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-text">
                        {{translations.Get('Tasks_Status')}}:
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 row-inputs">
                        <mat-form-field class="margin-left-30">
                            <mat-select [(value)]="selectedStatus"> 
                                <mat-option *ngFor="let status of statuses;" [value]="status['id']">
                                    {{status['name']}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <ng-container *ngIf="Categories$ | async as categories">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-text">
                            {{translations.Get('Tasks_Categories')}}:
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 row-inputs">
                            <mat-form-field class="margin-left-30">
                                <mat-select [(value)]="selectedCategory" (selectionChange)="TaskCategoryChange($event)">
                                    <mat-option *ngFor="let category of categories;" [value]="category['cgid']">
                                        {{category['cName']}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <span *ngIf="IsBudgetExceeded">{{budgetExceededInfo}}</span>
                    </div>
                </ng-container>
                <div class="row padding-bottom-15">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button mat-raised-button color="accent" class="float-right" (click)="Save()" [disabled]="IsBudgetExceeded || form.invalid">{{translations.Get('General_Save')}}</button>

                        <button mat-raised-button class="float-right" (click)="ShowAddModal = !ShowAddModal">{{translations.Get('General_Cancel')}}</button>
                    </div>
                </div>

                <ng-container *ngIf="TaskNotes$ | async as taskNotes">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                            <h1 class="page-title">{{translations.Get('TasksNotes_AddNoteToTask')}}</h1>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <button mat-raised-button color="accent" (click)="AddTaskNote()" [disabled]="addTaskNote.get('taskNote')?.invalid">{{translations.Get('TasksNotes_AddNote')}}</button>
                        </div>
                    </div>

                    <div class="row" [formGroup]="addTaskNote">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <textarea formControlName="taskNote" class="taskNoteTextArea" maxlength="2000"></textarea>
                            <div *ngIf="addTaskNote.get('taskNote')?.invalid">{{translations.Get('TasksNotes_AddNote_Error')}}</div>
                        </div>
                    </div>

                    <div class="row padding-top-15 padding-bottom-15" *ngIf="taskNotes.length != 0">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            {{translations.Get('TasksNote_Date')}}
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            {{translations.Get('TasksNote_Note')}}
                        </div>
                    </div>
                    <div *ngFor="let taskNote of taskNotes;" class="padding-bottom-15">
                        <div class="row data-row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <p>{{taskNote.tnDate | date: 'yyyy-MM-dd HH:mm'}}</p>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <p>{{taskNote.tnNote}}</p>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="bi bi-trash" (click)="DeleteTaskNote(taskNote.tngid)"></span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>

        <div class="row padding-top-15 padding-bottom-15" *ngIf="tasks.length != 0">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{translations.Get('Tasks_Name')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{translations.Get('Tasks_Date')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{translations.Get('Tasks_Localization')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{translations.Get('Tasks_Budget')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{translations.Get('Tasks_Status')}}
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div *ngFor="let task of tasks;">
            <div class="row data-row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <p>{{task.tName}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <p>{{task.tTime | date: 'yyyy-MM-dd HH:mm'}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <p>{{task.tLocalization}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <p>{{task.tBudget}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <p>{{DisplayStatus(task.tStatus)}}</p>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <span class="bi bi-pencil" (click)="ModifyTask(task)"></span>
                    <span class="bi bi-trash" (click)="DeleteTask(task.tgid)"></span>
                </div>
            </div>
        </div>
        <div class="row no-data-row" *ngIf="tasks.length == 0">
            <p>{{translations.Get('Task_NotFound')}}</p>
        </div>
    </section>
</ng-container>