<ng-container *ngIf="Savings$ | async as savings">
    <section class="body">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                <h1 class="page-title">{{translations.Get('TopMenu_Savings')}}</h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                <button mat-raised-button color="accent" (click)="AddSaving()">{{translations.Get('General_Add')}}</button>
            </div>
        </div>

        <div class="row categories-row" *ngIf="ShowAddModal" [formGroup]="form">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-text">
                        {{translations.Get('Savings_Amount')}}:
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 row-inputs">
                        <input type="number" formControlName="sAmount"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-text">
                        {{translations.Get('Savings_Date')}}:
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 row-inputs">
                        <input type="date" formControlName="sTime" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-text">
                        {{translations.Get('Savings_OnWhat')}}:
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 row-inputs">
                        <input type="text" formControlName="sOnWhat"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row-text">
                        {{translations.Get('Savings_Where')}}:
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 row-inputs">
                        <input type="text" step="1" formControlName="sWhere"/>
                    </div>
                </div>
                <div class="row padding-bottom-15">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button mat-raised-button color="accent" class="float-right" (click)="Save()">  {{translations.Get('General_Save')}}</button>

                        <button mat-raised-button class="float-right" (click)="ShowAddModal = !ShowAddModal">  {{translations.Get('General_Cancel')}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row padding-top-15 padding-bottom-15" *ngIf="savings.length != 0">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{translations.Get('Savings_Amount')}}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{translations.Get('Savings_Date')}}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{translations.Get('Savings_OnWhat')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{translations.Get('Savings_Where')}}
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
        <div *ngFor="let saving of savings;">
            <div class="row data-row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <p>{{saving.sAmount}}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <p>{{saving.sTime | date: 'yyyy-MM-dd'}}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <p>{{saving.sOnWhat}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <p>{{saving.sWhere}}</p>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <span class="bi bi-pencil" (click)="ModifySaving(saving)"></span>
                    <span class="bi bi-trash" (click)="DeleteSaving(saving.sgid)"></span>
                </div>
            </div>
        </div>
        <div class="row no-data-row" *ngIf="savings.length == 0">
            <p>{{translations.Get('Savings_NotFound')}}</p>
        </div>
    </section>
</ng-container>