<h2 mat-dialog-title *ngIf="IsTasksError && !IsCategoriesError">{{translations.Get('Tasks_Dialog_Error_Title_Task')}}</h2>
<h2 mat-dialog-title *ngIf="!IsTasksError && IsCategoriesError">{{translations.Get('Tasks_Dialog_Error_Title_Categories')}}</h2>
<h2 mat-dialog-title *ngIf="IsTasksError && IsCategoriesError">{{translations.Get('Tasks_Dialog_Error_Title_Data')}}</h2>

<mat-dialog-content *ngIf="IsTasksError && !IsCategoriesError">
  {{translations.Get('Tasks_Dialog_Error_Text_Task')}}
</mat-dialog-content>
<mat-dialog-content *ngIf="!IsTasksError && IsCategoriesError">
  {{translations.Get('Tasks_Dialog_Error_Text_Categories')}}
</mat-dialog-content>
<mat-dialog-content *ngIf="IsTasksError && IsCategoriesError">
  {{translations.Get('Tasks_Dialog_Error_Text_Data')}}
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">{{translations.Get('General_No')}}</button>
  <button mat-button [mat-dialog-close]="true">{{translations.Get('General_Yes')}}</button>
</mat-dialog-actions>