<section class="body">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
            <h1 class="page-title" *ngIf="isNewNoteView">{{translations.Get('TopMenu_Bugs')}}</h1>

            <ng-container *ngIf="Note$ | async as note">
                <h1 class="page-title" *ngIf="!isNewNoteView">{{translations.Get('Bugs_Bug')}}: {{note.NTitle}} </h1>
            </ng-container>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
            <button mat-raised-button class="primary-btn float-right" (click)="SaveNote()">{{translations.Get('General_Save')}}</button>
            <button mat-raised-button class="float-right margin-right-15" (click)="Cancel()">{{translations.Get('General_Cancel')}}</button>
        </div>
    </div>

    <div class="row" [formGroup]="form">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
                    <span class="data-input-text">
                        {{translations.Get('Bugs_Title')}}:
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
                    <textarea formControlName="NTitle" maxlength="200" [placeholder]="translations.Get('Bugs_Title')" class="bugs-textarea"></textarea>
                    <div *ngIf="form.get('NTitle')?.invalid">{{translations.Get('Bugs_AddTitle_Error')}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-textarea">
                    <span class="data-input-text">
                        {{translations.Get('Bugs_Text')}}:
                    </span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row-inputs">
                    <textarea formControlName="NTxt" maxlength="4000" [placeholder]="translations.Get('Bugs_Text')" class="bugs-textarea"></textarea>
                    <div *ngIf="form.get('NTxt')?.invalid">{{translations.Get('Bugs_BugNotes_AddNote_Error')}}</div>
                </div>
            </div>
            <div class="row" *ngIf="!isNewNoteView">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Savings_Where')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="date" class="data-input" [placeholder]="translations.Get('Savings_Where')" formControlName="NDate"/>
                </div>
            </div>
            <div class="row" *ngIf="!isNewNoteView">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Savings_Where')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="date" class="data-input" [placeholder]="translations.Get('Savings_Where')" formControlName="NModificationDate"/>
                </div>
            </div>
        </div>
    </div>
</section>