.row-text{
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row-inputs{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    input{
        margin-left: 30px
    }
}

.taskNoteTextArea{
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}

progress {
	display: block;
	width: 100%;
	height: 40px;
	margin: 0;
	background: none;
	border: 0;
	border-radius:50px;
	position: relative;
    margin-bottom: 15px;
}

progress::-webkit-progress-bar {
	height: 30px;
	margin: 0 auto;
	background-color: #dadada;
	border-radius: 100px;
}

progress::-webkit-progress-value {
	height: 40px;
	margin: 0px -10px 0 0;
    padding-left: 50px;
	border-radius: 100px;
}

.progress-10::-webkit-progress-value {
	background-color: #FF0000 ;
}

.progress-20::-webkit-progress-value {
	background-color: #FF3300;
}

.progress-30::-webkit-progress-value {
	background-color: #FF6600;
}

.progress-40::-webkit-progress-value {
	background-color: #FF9900;
}

.progress-50::-webkit-progress-value {
	background-color: #FFCC00;
}

.progress-60::-webkit-progress-value {
	background-color: #FFFF00;
}

.progress-70::-webkit-progress-value {
	background-color: #CCFF00;
}

.progress-80::-webkit-progress-value {
	background-color: #99FF00;
}

.progress-90::-webkit-progress-value {
	background-color: #66FF00;
}

.progress-100::-webkit-progress-value {
	background-color: #00FF00 ;
}

@media screen and (max-width: 992px) {
    .row-text{
        text-align: left; 
    }
}

@media screen and (max-width: 768px) {
    .row-text{
        text-align: left; 
    }
}