<section class="body">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
            <h1 class="page-title" *ngIf="isNewTaskView">{{translations.Get('Categories_New_Category')}}</h1>

            <ng-container *ngIf="Task$ | async as task">
                <h1 class="page-title" *ngIf="!isNewTaskView">{{translations.Get('Categories_Category')}}: {{task.TName}}</h1>
            </ng-container>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
            <button mat-raised-button class="primary-btn float-right" (click)="SaveTask()" [disabled]="form.invalid">{{translations.Get('General_Save')}}</button>
            <button mat-raised-button class="float-right margin-right-15" (click)="Cancel()">{{translations.Get('General_Cancel')}}</button>
        </div>
    </div>

    <div class="row categories-row" [formGroup]="form">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Tasks_Name')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('Tasks_Name')" formControlName="TName" required/>
                </div>
                <div class="error-input row" *ngIf="form.get('TName')?.errors?.['required']">
                    {{translations.Get('Tasks_TName_Required')}}
                </div>
                <div class="error-input row" *ngIf="form.get('TName')?.errors?.['maxlength']">
                    {{translations.Get('Tasks_TName_Max_300')}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Tasks_Date')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <mat-form-field class="margin-left-30">
                        <input matInput [ngxMatDatetimePicker]="picker" placeholder="translations.Get('General_Pick_Date_And_Time')" formControlName="TTime">
                        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker 
                            [showSpinners]="true" 
                            [showSeconds]="false"
                            [stepHour]="1" 
                            [stepMinute]="1" 
                            [stepSecond]="1"
                            [touchUi]="false" 
                            [enableMeridian]="false" 
                            [disableMinute]="false" 
                            [color]="'primary'">
                            <ngx-mat-datepicker-actions>
                                <button ngxMatDatepickerCancel class="action-btn">
                                    <span class="bi bi-x"></span>
                                </button>
                                <button ngxMatDatepickerApply class="action-btn">
                                    <span class="bi bi-check-lg"></span>
                                </button>
                            </ngx-mat-datepicker-actions>
                        </ngx-mat-datetime-picker>
                     </mat-form-field>
                </div>
                <div class="error-input row" *ngIf="form.get('TTime')?.errors?.['required']">
                    {{translations.Get('Tasks_TTime_Required')}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Tasks_Localization')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('Tasks_Localization')" formControlName="TLocalization" required/>
                </div>
                <div class="error-input row" *ngIf="form.get('TLocalization')?.errors?.['required']">
                    {{translations.Get('Tasks_TLocalization_Required')}}
                </div>
                <div class="error-input row" *ngIf="form.get('TLocalization')?.errors?.['maxlength']">
                    {{translations.Get('Tasks_TLocalization_Max_300')}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Tasks_Budget')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="number" class="data-input" [placeholder]="translations.Get('Tasks_Budget')" step="1" formControlName="TBudget" required (change)="ChangeBudget($event)"/>
                </div>
                <div class="error-input row" *ngIf="form.get('TBudget')?.errors?.['required']">
                    {{translations.Get('Tasks_TBudget_Required')}}
                </div>
                <div class="error-input row" *ngIf="form.get('TBudget')?.errors?.['min']">
                    {{translations.Get('Tasks_TBudget_Min0')}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Tasks_Status')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <mat-form-field class="margin-left-30">
                        <mat-select [(value)]="selectedStatus"> 
                            <mat-option *ngFor="let status of statuses;" [value]="status['id']">
                                {{status['name']}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="error-input row" *ngIf="form.get('TStatus')?.errors?.['required']">
                    {{translations.Get('Tasks_TStatus_Required')}}
                </div>
            </div>
            <ng-container *ngIf="Categories$ | async as categories">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                        <span class="data-input-text">
                            {{translations.Get('Tasks_Categories')}}:
                        </span>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                        <mat-form-field class="margin-left-30">
                            <mat-select [(value)]="selectedCategory" (selectionChange)="TaskCategoryChange($event)">
                                <mat-option *ngFor="let category of categories;" [value]="category['cgid']">
                                    {{category['cName']}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="error-input row" *ngIf="selectedCategory == ''">
                        {{translations.Get('Tasks_TCategory_Required')}}
                    </div>
                    <ng-container *ngIf="BudgetOverrunMessage$ | async as message">
                        <div class="error-input row" *ngIf="message">
                            {{message}}
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container *ngIf="TaskSubTasks$ | async as taskSubTasks">
                <div *ngIf="!isNewTaskView">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="page-title">{{translations.Get('Tasks_SubTasks_Title')}}</h1>
                        </div>
                    </div>

                    <ng-container *ngIf="TaskSubTasksProgressBar$ | async as progressBar">
                        <div class="row progress-bar">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <progress [value]="progressBar.percent" max="100" [class]="progressBar.class"></progress>
                            </div>
                        </div>
                    </ng-container> 

                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                            <h1 class="page-title">{{translations.Get('TasksNotes_AddSubTaskToTask')}}</h1>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <button mat-raised-button class="primary-btn float-right add-task-note-btn" (click)="AddSubTask()" [disabled]="addTaskSubTasks.invalid">
                                {{translations.Get('TasksNotes_AddSubTask')}}
                            </button>
                        </div>
                    </div>
                    
                    <div [formGroup]="addTaskSubTasks">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea formControlName="subTaskTitle" class="taskNoteTextArea" maxlength="200" [placeholder]="translations.Get('TasksNotes_AddSubTask_Title')"></textarea>
                            </div>
                            <div class="error row margin-bottom-15" *ngIf="addTaskSubTasks.get('subTaskTitle')?.errors?.['required']">
                                {{translations.Get('TasksNotes_AddSubTask_Title_Required')}}
                            </div>
                            <div class="error row margin-bottom-15" *ngIf="addTaskSubTasks.get('subTaskTitle')?.errors?.['maxlength']">
                                {{translations.Get('TasksNotes_AddSubTask_Title_Max200')}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea formControlName="subTaskText" class="taskNoteTextArea" maxlength="2000" [placeholder]="translations.Get('TasksNotes_AddSubTask_Text')"></textarea>
                            </div>
                            <div class="error row" *ngIf="addTaskSubTasks.get('subTaskText')?.errors?.['required']">
                                {{translations.Get('TasksNotes_AddSubTask_Text_Required')}}
                            </div>
                            <div class="error row" *ngIf="addTaskSubTasks.get('subTaskText')?.errors?.['maxlength']">
                                {{translations.Get('TasksNotes_AddSubTask_Text_Max200')}}
                            </div>
                        </div>
                    </div>

                    <div class="row margin-top-15 filter-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-paginator [length]="countTaskSubTasks" (paginationData)="UpdatePaginationDataTaskSubTasks($event)"></app-paginator>
                        </div>
                    </div>

                    <div class="row padding-top-15 padding-bottom-15" *ngIf="taskSubTasks.length != 0">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            {{translations.Get('TasksSubTasks_Title')}}
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            {{translations.Get('TasksSubTasks_Text')}}
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            {{translations.Get('TasksSubTasks_Status')}}
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    </div>
                    <div *ngFor="let taskSubTask of taskSubTasks;" class="padding-bottom-15">
                        <div class="row data-row" matTooltip="{{translations.Get('TasksSubTasks_CreationDate')}}: {{taskSubTask.tstCreationDate | date: 'yyyy-MM-dd HH:mm'}}">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <p>{{taskSubTask.tstTitle}}</p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <p>{{taskSubTask.tstText}}</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 inside-row-form-field">
                                <mat-form-field class="margin-left-30">
                                    <mat-select [(value)]="taskSubTask.tstStatus" (selectionChange)="SubTaskStatusChange($event, taskSubTask.tstgid)"> 
                                        <mat-option *ngFor="let status of statuses;" [value]="status['id']">
                                            {{status['name']}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="bi bi-trash" (click)="DeleteSubTask(taskSubTask.tstgid)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="TaskNotes$ | async as taskNotes">
                <div *ngIf="!isNewTaskView">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="page-title">{{translations.Get('Tasks_Notes_Title')}}</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                            <h1 class="page-title">{{translations.Get('TasksNotes_AddNoteToTask')}}</h1>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <button mat-raised-button class="primary-btn float-right add-task-note-btn" (click)="AddTaskNote()" [disabled]="addTaskNote.invalid">
                                {{translations.Get('TasksNotes_AddNote')}}
                            </button>
                        </div>
                    </div>

                    <div class="row" [formGroup]="addTaskNote">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <textarea formControlName="taskNote" class="taskNoteTextArea" maxlength="2000"></textarea>
                        </div>
                        <div class="error row" *ngIf="addTaskNote.get('taskNote')?.errors?.['required']">
                            {{translations.Get('TasksNotes_AddNote_Required')}}
                        </div>
                        <div class="error row" *ngIf="addTaskNote.get('taskNote')?.errors?.['maxlength']">
                            {{translations.Get('TasksNotes_AddNote_Error')}}
                        </div>
                    </div>

                    <div class="row margin-top-15 filter-row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-paginator [length]="countTaskNotes" (paginationData)="UpdatePaginationDataTaskNotes($event)"></app-paginator>
                        </div>
                    </div>

                    <div class="row padding-top-15 padding-bottom-15" *ngIf="taskNotes.length != 0">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            {{translations.Get('TasksNote_Date')}}
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            {{translations.Get('TasksNote_Note')}}
                        </div>
                    </div>
                    <div *ngFor="let taskNote of taskNotes;" class="padding-bottom-15">
                        <div class="row data-row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <p>{{taskNote.tnDate | date: 'yyyy-MM-dd HH:mm'}}</p>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <p>{{taskNote.tnNote}}</p>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span class="bi bi-trash" (click)="DeleteTaskNote(taskNote.tngid)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>