<ng-container *ngIf="Categories$ | async as categories">
    <section class="body">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                <h1 class="page-title">{{translations.Get('TopMenu_Categories')}}</h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                <button mat-raised-button class="primary-btn" (click)="AddCategory()">{{translations.Get('General_Add')}}</button>
            </div>
        </div>

        <div class="row margin-top-15 filter-row" [formGroup]="filterForm">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                {{translations.Get('General_ChooseDate')}}:
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <mat-form-field>
                    <mat-label>{{translations.Get('General_ChooseDate')}}</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year" (monthSelected)="setMonthAndYear($event, picker)"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
        </div>

        <div class="row margin-top-15 filter-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <app-paginator [length]="count" (paginationData)="UpdatePaginationData($event)"></app-paginator>
            </div>
        </div>

        <div class="row padding-top-15 padding-bottom-15" *ngIf="categories.length != 0">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{translations.Get('Categories_Name')}}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{translations.Get('Categories_StartDate')}}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {{translations.Get('Categories_EndDate')}}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-xs">
                {{translations.Get('Categories_Budget')}}
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3"></div>
        </div>
        <div *ngFor="let category of categories;">
            <div class="row data-row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <p>{{category.cName}}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <p>{{category.cStartDate | date: 'yyyy-MM-dd'}}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <p>{{category.cEndDate | date: 'yyyy-MM-dd'}}</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-xs">
                    <p>{{category.cBudget}}</p>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
                    <span class="bi bi-pencil" (click)="ModifyCategory(category.cgid)"></span>
                    <span class="bi bi-trash" (click)="DeleteCategory(category.cgid)"></span>
                </div>
            </div>
        </div>
        <div class="row no-data-row" *ngIf="categories.length == 0">
            <p>{{translations.Get('Categories_NotFound')}}</p>
        </div>
    </section>
</ng-container>