<section class="body">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
            <h1 class="page-title">{{translations.Get('User_User')}}</h1>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
            <button mat-raised-button class="margin-right-15" (click)="Cancel()" *ngIf="IsAdminView">{{translations.Get('General_Cancel')}}</button>
            <button mat-raised-button class="primary-btn" (click)="Save()">{{translations.Get('General_Save')}}</button>
        </div>
    </div>

    <div class="row" [formGroup]="form">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row" *ngIf="IsAdminView">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Users_ID')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('Users_ID')" formControlName="uid"/>
                </div>
            </div>
            <div class="row" *ngIf="IsAdminView">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Users_GUID')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('Users_GUID')" formControlName="ugid"/>
                </div>
            </div>
            <div class="row" *ngIf="IsAdminView">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('Users_Role')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <mat-form-field class="margin-left-30">
                        <mat-select [(value)]="selectedRole"> 
                            <mat-option *ngFor="let role of roles;" [value]="role['id']">
                                {{role['name']}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('User_First_Name')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('User_First_Name')" formControlName="uFirstName"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('User_Last_Name')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('User_Last_Name')" formControlName="uLastName"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('User_User_Name')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('User_User_Name')" formControlName="uUserName"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('User_Email')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('User_Email')" formControlName="uEmail"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('User_Phone')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('User_Phone')" formControlName="uPhone"/>
                </div>
            </div>
            <div class="row" *ngIf="IsAdminView">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('User_Categories_Count')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('User_Categories_Count')" formControlName="uCategoriesCount"/>
                </div>
            </div>
            <div class="row" *ngIf="IsAdminView">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('User_Tasks_Count')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('User_Tasks_Count')" formControlName="uTasksCount"/>
                </div>
            </div>
            <div class="row" *ngIf="IsAdminView">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('User_Tasks_Notes_Count')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('User_Tasks_Notes_Count')" formControlName="uTaskNotesCount"/>
                </div>
            </div>
            <div class="row" *ngIf="IsAdminView">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 row-text">
                    <span class="data-input-text">
                        {{translations.Get('User_Savings_Count')}}:
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 row-inputs">
                    <input type="text" class="data-input" [placeholder]="translations.Get('User_Savings_Count')" formControlName="uSavingsCount"/>
                </div>
            </div>
        </div>
    </div>
</section>
