<div class="navigation" *ngIf="!hideMenu">
    <div class="left-panel"></div>
    <nav>
        <a href="categories">{{"TopMenu_Categories" | translate}}</a>
        <a href="tasks">{{"TopMenu_Tasks" | translate}}</a>
        <a href="savings">{{"TopMenu_Savings" | translate}}</a>
        <a href="stats">{{"TopMenu_Stats" | translate}}</a>
        <a href="notes">{{"TopMenu_Notes" | translate}}</a>
        <a href="bugs">{{"TopMenu_Bugs" | translate}}</a>
        <a href="users" *ngIf="IsAdmin">{{"TopMenu_Users" | translate}}</a>
    </nav>
    <div class="mobile-navigation">
        <div class="mobile-navigation-button"> 
            <span class="bi bi-list" (click)="ToggleMobileMenu()"></span> 
        </div> 
        <div class="mobile-menu" [ngClass]="IsMobileMenuActive ? 'mobile-menu-active' : 'mobile-menu-inactive'"> 
            <div class="mobile-menu-container"> 
                <a href="categories">{{"TopMenu_Categories" | translate}}</a>
                <a href="tasks">{{"TopMenu_Tasks" | translate}}</a>
                <a href="savings">{{"TopMenu_Savings" | translate}}</a>
                <a href="stats">{{"TopMenu_Stats" | translate}}</a>
                <a href="notes">{{"TopMenu_Notes" | translate}}</a>
                <a href="bugs">{{"TopMenu_Bugs" | translate}}</a>
                <a href="users" *ngIf="IsAdmin">{{"TopMenu_Users" | translate}}</a>
            </div>
        </div>
    </div>
    <div class="side-menu">
        <div class="user" (click)="GoToUser()"></div>
        <div class="pl" *ngIf="language == 'en'" (click)="ChangeLanguage('pl')"></div>
        <div class="en" *ngIf="language == 'pl'" (click)="ChangeLanguage('en')"></div>
        <div class="logout" (click)="LogOut()"></div>
    </div>
</div>
<div [ngClass]="mainClass">
    <router-outlet></router-outlet>
</div>