<div class="navigation">
    <div style="width: 10%;"></div>
    <nav>
        <a href="categories">{{"TopMenu_Categories" | translate}}</a>
        <a href="tasks">{{"TopMenu_Tasks" | translate}}</a>
        <a href="savings">{{"TopMenu_Savings" | translate}}</a>
        <a href="stats">{{"TopMenu_Stats" | translate}}</a>
    </nav>
    <div class="language">
        <div class="pl" *ngIf="language == 'en'" (click)="ChangeLanguage('pl')"></div>
        <div class="en" *ngIf="language == 'pl'" (click)="ChangeLanguage('en')"></div>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>