::ng-deep .mat-mdc-paginator-outer-container{
    margin-top: 15px;

    .mat-mdc-paginator-container{    
        justify-content: center;
    }
}

::ng-deep .mat-mdc-paginator-page-size-label{
    display: none !important;
}